@media (max-width:1024px){

.mainMenu{
	width:100%;}	
	
	.mainMenu li{
		float:left;
		height:150px;
		width:50%;
}
		
		
		
	}

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/



@media (max-width:768px){

.logoSec{
	display:table;
	position:inherit; 
	left:inherit; 
	top:inherit;
	bottom:inherit;
	right:inherit;
	margin:0 auto;
}

.logoSec ~ h1{
/*	margin:150px 0 0 0;*/}

.portfolio-box .work-post{
	width:33.333%;
	margin:0 !important;
	border:5px solid rgba(255,255,255,0);}

.selectSearch{
	width:100%;}	
	
}


/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/



@media (max-width:640px){
	.respoTable{
		overflow-x:scroll;}
}

/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/



@media (max-width:480px){
	.portfolio-box .work-post{
	width:50%;
}

.imgThumb img{
	width:100%;}


}


/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/



@media (max-width:360px){
		.mainMenu li{
		height:150px;
		width:50%;
}

	.selectSearch{
		width:90%;}
		
	.portfolio-box .work-post{
	width:100%;
}




}



/*--------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------*/



@media (max-width:320px){

	}
