@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_TeacherLayout.cshtml";
    Layout = "~/Views/Shared/_TeacherNewLayout.cshtml";
}

<div class="text-center">
    @*<div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox" style="height:500px">
                <div class="item active">
                    <img src="~/Images/slider-1.jpg" alt="Teacher">
                </div>

                <div class="item">
                    <img src="~/Images/slider-2.jpg" alt="Teacher">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>*@
    <div>
        <h3>Welcome @Helper.UserName</h3>

        <p>
            Start Market your business simply!!!by Adding Category
        <p>
            <a href="@Url.Action("AddClass")"><input type="button" value="Add Category" class="btn btn-info" /></a>
        </p>
        @*</p>*@
    </div>
</div>
<div class="row">
    @* for User R\Enquires *@
</div>

